<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>卡牌名称</string>
		<string>卡牌描述信息</string>
	</array>
	<array>
		<string>李逍遥</string>
		<string>游戏初次胜利时可获得</string>
	</array>
	<array>
		<string>赵灵儿</string>
		<string>游戏初次失败时可获得</string>
	</array>
	<array>
		<string>赵灵儿 梦蛇</string>
		<string>简单模式初次胜利时可获得</string>
	</array>
	<array>
		<string>林月如</string>
		<string>普通模式初次胜利时可获得</string>
	</array>
	<array>
		<string>阿奴</string>
		<string>困难模式初次胜利时可获得</string>
	</array>
	<array>
		<string>酒剑仙</string>
		<string>总游戏胜利次数达到10次时可获得</string>
	</array>
	<array>
		<string>拜月教主</string>
		<string>总游戏失败次数达到10次时可获得</string>
	</array>
	<array>
		<string>王小虎</string>
		<string>简单模式胜利次数达到10次时可获得</string>
	</array>
	<array>
		<string>苏媚</string>
		<string>简单模式失败次数达到10次时可获得</string>
	</array>
	<array>
		<string>沈欺霜</string>
		<string>普通模式胜利次数达到10次时可获得</string>
	</array>
	<array>
		<string>李忆如</string>
		<string>普通模式失败次数达到10次时可获得</string>
	</array>
	<array>
		<string>孔磷</string>
		<string>困难模式胜利次数达到10次时可获得</string>
	</array>
	<array>
		<string>魔尊</string>
		<string>困难模式失败次数达到10次时可获得</string>
	</array>
	<array>
		<string>景天</string>
		<string>总游戏胜利次数达到30次时可获得</string>
	</array>
	<array>
		<string>唐雪见</string>
		<string>总游戏失败次数达到30次时可获得</string>
	</array>
	<array>
		<string>龙葵</string>
		<string>简单模式胜利次数达到30次时可获得</string>
	</array>
	<array>
		<string>龙葵鬼</string>
		<string>普通模式胜利次数达到30次时可获得</string>
	</array>
	<array>
		<string>紫萱</string>
		<string>困难模式胜利次数达到30次时可获得</string>
	</array>
	<array>
		<string>重楼</string>
		<string>简单模式失败次数达到30次时可获得</string>
	</array>
	<array>
		<string>徐长卿</string>
		<string>普通模式失败次数达到30次时可获得</string>
	</array>
	<array>
		<string>南宫煌</string>
		<string>困难模式失败次数达到30次时可获得</string>
	</array>
	<array>
		<string>温慧</string>
		<string>连续胜利次数达到10次时可获得</string>
	</array>
	<array>
		<string>星璇</string>
		<string>连续失败次数达到10次时可获得</string>
	</array>
	<array>
		<string>王蓬絮</string>
		<string>总游戏次数达到50次时可获得</string>
	</array>
	<array>
		<string>雷元戈</string>
		<string>总游戏胜利次数达到50次时可获得</string>
	</array>
	<array>
		<string>云天河</string>
		<string>总游戏失败次数达到50次时可获得</string>
	</array>
	<array>
		<string>韩菱纱</string>
		<string>简单模式连续胜利20场时可获得</string>
	</array>
	<array>
		<string>柳梦璃</string>
		<string>普通模式连续胜利20场时可获得</string>
	</array>
	<array>
		<string>慕容紫英</string>
		<string>困难模式连续胜利20场时可获得</string>
	</array>
	<array>
		<string>玄霄</string>
		<string>游戏总胜利次数达到100场时可获得</string>
	</array>
	<array>
		<string>姜云凡</string>
		<string>自由模式连续胜利15场时可获得</string>
	</array>
	<array>
		<string>唐雨柔</string>
		<string>简单模式5秒内完成时可获得</string>
	</array>
	<array>
		<string>龙幽</string>
		<string>普通模式5秒内完成时可获得</string>
	</array>
	<array>
		<string>小蛮</string>
		<string>困难模式5秒内完成时可获得</string>
	</array>
	<array>
		<string>千杯不醉</string>
		<string>简单模式不出一次错完成游戏时可获得</string>
	</array>
	<array>
		<string>五毒兽</string>
		<string>普通模式不出一次错完成游戏时可获得</string>
	</array>
	<array>
		<string>蛇妖男</string>
		<string>困难模式不出一次错完成游戏时可获得</string>
	</array>
	<array>
		<string>水魔兽</string>
		<string>游戏总失败次数达到100场时可获得</string>
	</array>
	<array>
		<string>画妖</string>
		<string>简单模式未翻开至少一对牌时可获得</string>
	</array>
	<array>
		<string>帝江神兽</string>
		<string>普通模式未翻开至少一对牌时可获得</string>
	</array>
	<array>
		<string>赝月</string>
		<string>困难模式未翻开至少一对牌时可获得</string>
	</array>
	<array>
		<string>肥肥</string>
		<string>翻开黑牌失败时可获得</string>
	</array>
	<array>
		<string>狐妖女</string>
		<string>翻开第一张即是黑牌时课获得</string>
	</array>
	<array>
		<string>熔岩兽王</string>
		<string>简单模式游戏胜利次数达100次时可获得</string>
	</array>
	<array>
		<string>火麒麟</string>
		<string>普通模式游戏胜利次数达100次时可获得</string>
	</array>
	<array>
		<string>镇狱明王</string>
		<string>困难模式游戏胜利次数达100次时可获得</string>
	</array>
	<array>
		<string>积粮隐者</string>
		<string>自由模式不出一次错完成时可获得</string>
	</array>
	<array>
		<string>赤鬼王</string>
		<string>普通模式最后一秒完成时可获得</string>
	</array>
	<array>
		<string>毒娘子</string>
		<string>困难模式最后一秒完成时可获得</string>
	</array>
	<array>
		<string>邪剑仙</string>
		<string>自由模式最后一秒完成时可获得</string>
	</array>
	<array>
		<string>纸马</string>
		<string>自由模式五秒内完成时可获得</string>
	</array>
	<array>
		<string>叶灵</string>
		<string>简单模式连续胜利15场时可获得</string>
	</array>
	<array>
		<string>暗香</string>
		<string>普通模式连续胜利15场时可获得</string>
	</array>
	<array>
		<string>句芒</string>
		<string>困难模式连续胜利15场时可获得</string>
	</array>
	<array>
		<string>蝶精</string>
		<string>游戏结束后有一定几率获得</string>
	</array>
	<array>
		<string>羽民</string>
		<string>游戏失败后有一定几率获得</string>
	</array>
	<array>
		<string>金翅凤凰</string>
		<string>游戏胜利后有一定几率获得</string>
	</array>
	<array>
		<string>璇龟</string>
		<string>简单模式最后一秒完成时可获得</string>
	</array>
	<array>
		<string>刑天</string>
		<string>简单模式连续失败5场时可获得</string>
	</array>
	<array>
		<string>金蟾鬼母</string>
		<string>普通模式连续失败5场时可获得</string>
	</array>
	<array>
		<string>天鬼皇</string>
		<string>困难模式连续失败5场时可获得</string>
	</array>
	<array>
		<string>菜刀婆婆</string>
		<string>简单模式连续胜利5场时可获得</string>
	</array>
	<array>
		<string>财神爷</string>
		<string>普通模式连续胜利5场时可获得</string>
	</array>
	<array>
		<string>罗刹鬼婆</string>
		<string>困难模式连续胜利5场时可获得</string>
	</array>
</array>
</plist>
